extend default

block content
    p.
        Welcome to the ioant viewer. Some graphical contents is not created by us at IOAnt. The credits for them are listed below.
    p
        | Icons made by:
        br
        Icon "Weight management" by Delwar Hossain from the Noun Project CC3
        br
        Icon "electric motor" by Jonas Borges from the Noun Project CC3
        br
        Icon "Light" by Toni Bordoy from the Noun Project CC3
        br
        Icon "Delete" by Huu Nguyen from the Noun Project CC3
        br
        Icon "Add" by Juli from the Noun Project CC3
        br
        a(href="http://www.flaticon.com/authors/freepik", title="Freepik") Freepik,
        a(href="http://www.flaticon.com" title="Flaticon" ,value="www.flaticon.com") www.flaticon.com,
        a(href="http://creativecommons.org/licenses/by/3.0/", title="Creative Commons BY 3.0", target="_blank") Creative Commons BY 3.0
        br
        a(href="http://www.flaticon.com/authors/bogdanrosu", title="Bogdan Rosu" ) Bogdan Ros,
        a(href="http://www.flaticon.com" title="Flaticon" ,value="www.flaticon.com") www.flaticon.com,
        a(href="http://creativecommons.org/licenses/by/3.0/", title="Creative Commons BY 3.0", target="_blank") Creative Commons BY 3.0
