extend default


block content
    link(rel='stylesheet', href='/css/analytics.css')
    h1.
        Analytics
    img(src="img/icons/layers-icon.png", class="addAnalytic" title="Add analytic")


    script(type="text/javascript", src="/lib/js/jquery.magnific-popup.min.js")
    script(type="text/javascript", src="/js/analytics.js")
