doctype html
html
    head
        link(rel="stylesheet", type="text/css" href="/lib/css/bootstrap.min.css")
        link(rel="stylesheet", href="/lib/css/dc.css")
        link(rel='stylesheet', href='/css/index.css')

        script(src="/lib/js/jquery.min.js")
        script(src="/lib/js/moment.min.js")
        script(src="/lib/js/queue.js")
        script(src="/lib/js/d3.js")
        script(src="/lib/js/bootstrap.min.js")
        title IOAnt Viewer
    body
        .header
            h1.page-title IOAnt Viewer

        ul.nav
            li: a(href='/') Home
            li: a(href='streams') Streams
            li: a(href='analytics') Analytics
            li: a(href='about') About

        .main-content
            block content

        .footer
            p
                | Copyright © 2016 IOAnt Version 0.6.1
