extend default

block content
    link(rel="stylesheet", type="text/css" href="//cdn.jsdelivr.net/bootstrap.daterangepicker/2/daterangepicker.css")

    // Toolbar
    if settings
        input(type="hidden", name="viewnumberofdays", value=settings.viewNumberOfDays, id="viewnumberofdays")
    else
        input(type="hidden", name="viewnumberofdays", value=1, id="viewnumberofdays")
    label.
        Select time frame:
    input(type="text", name="daterange", value="" class="datepicker")
    label.
        Every
    if settings
        input(type="text", name="filter", value=settings.filter, id="filter")
    else
        input(type="text", name="filter", value="1", id="filter")
    label(id="filterName").
        :th value
    label(id="autofitlabel").
        Auto fit y axis
    input(type="checkbox", name="autofit", id="autofit")
    label(id="datapoints").
        Data points:
    label(id="datapts").
    label(id="rawpts").
    // Toolbar - End

    // Stream chart area
    block streamarea

    if settings
        if settings.dataTable.show
            // Table area
            #streamTable
    else
        // Table area
        #streamTable
