.pioenvs
.clang_complete
.gcc-flags.json
.piolibdeps
#build files
*.gch
#Generated proto files
*/*/lib/generated_proto/*.h
*/*/lib/generated_proto/*.cpp
*/*/lib/generated_proto/*.c
*/*/config/configuration.h
