extend ../stream

block streamarea
    #stream-chart
    .clear(style="clear: both;")

    script(type="text/javascript", src="//cdn.jsdelivr.net/bootstrap.daterangepicker/2/daterangepicker.js")
    script(src="/lib/js/crossfilter.min.js")
    script(src="/lib/js/d3.js")
    script(src="/lib/js/dc.js")
    script(src="/js/utils.js", type='text/javascript')
    script(src="/js/streamtypes/chart.js", type='text/javascript')
    script(src="/js/stream.js", type='text/javascript')
