{% load staticfiles %}
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
    <link rel="stylesheet" href="//maxcdn.bootstrapcdn.com/bootstrap/3.2.0/css/bootstrap.min.css">
    <link rel="stylesheet" href="//maxcdn.bootstrapcdn.com/bootstrap/3.2.0/css/bootstrap-theme.min.css">
    <link rel="stylesheet" href="{% static 'css/protoselector.css' %}">
</head>

<body>
    <div id="main">
    <h1>Prango - A IOAnt proto tester</h1>

    <form action="" method="post">{% csrf_token %}
    <label for="{{ proto_option_field_name }}"> Message type: </label>
    <select name="{{ proto_option_field_name }}">
    {% if latest_message_list %}
        {% for message in latest_message_list %}
            {% if message.1 ==  message_name%}
                <option selected="selected" value="{{ message.0 }}">{{ message.1 }}</option>
            {% else %}
                <option value="{{ message.0 }}">{{ message.1 }}</option>
            {% endif %}
        {% endfor %}
    {% else %}
        <p>No message list is available.</p>
    {% endif %}
    </select>
    <input type="submit" value="Select">
    </form>
    <hr/>
    {% if proto_selected %}
        <form action="" method="post">{% csrf_token %}
            <label class="topic_title">Topic: </label>
            <label for="top"></label>
            <input class="topic_l" type="text" name="top" value="live" maxlength="100" />
            <label for="global"> global</label>
            <input class="topic_l" type="text" name="global" maxlength="100" />
            <label for="local"> local</label>
            <input class="topic_l" type="text" name="local" maxlength="100" />
            <label for="client"> client</label>
            <input class="topic_l" type="text" name="client" maxlength="100" value="prango" />
            <label for="message_type"> message_type</label>
            <input class="topic_s" type="text" name="message_type" maxlength="100" value="{{message_type}}" readonly/>
            <label for="stream_index"> stream_index</label>
            <input class="topic_s" type="text" name="stream_index" maxlength="100" value="0" /></br>
            <hr/>
            <label class="topic_title">Fields</label></br>
            {% for wrapp in message_fields %}
                <label for="{{wrapp.field.name}}"> {{wrapp.field.name}} ({{wrapp.type_name}})</label><br/>
                {% if wrapp.field.enum_type  %}
                    <select name="{{wrapp.field.name}}">
                    {% for enumType in wrapp.field.enum_type.values %}
                        <option value="{{ enumType.number }}">{{ enumType.name }}</option>
                    {% endfor %}
                    </select>
                    <br/>
                    <br/>
                {% else %}
                <input id="{{wrapp.field.name}}" type="text" name="{{wrapp.field.name}}" maxlength="140" /><br/><br/>
                {% endif %}

            {% endfor %}
            <br/>
            <hr/>
            <input type="submit" value="Send message">
        </form>
    {% else %}
        <p>Please select a message type</p>
    {% endif %}

    {% if success is True %}
        <h2>Message was sent successfully</h2>
    {% elif success is False%}
        <p>Following fields failed:</p>
        <ul>
        {% for failed_field in failure %}
        <li>failed_field</li>
        {% endfor %}
    </ul>
    {% endif %}

    </div>

</body>
